html, body {
	height: 100%;
}

.backlog-category {
	margin-top: 5px;
}

.k-container {
	border: 1px solid black;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.k-line {
	border: 1px solid black;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
}

.column-title {
	display: block;
	width: 100%;
	background-color: #EEEEEE;
	margin: 0;
	text-align: center;
	writing-mode: lr-tb;
}

.line-title {
	display: block;
	background-color: #EEEEEE;
	margin: 0;
	text-align: center;
	writing-mode: tb-rl;
}

.k-list {
	display: flex;
	height: 100%;
	width: 100%;
}

.horizontal {
	flex-direction: row;
}

.vertical {
	flex-direction: column;
}

.task {
	background-color: #999;
	border: 1px solid #666;
}

.contents {
	height: 100%;
}