html, body {
	height: 100%;
	font-family: Arial, Verdana;
	margin: 0;
}


.task {
	position: absolute;
}

.new-task, .task-content {
	width: 150px;
	background-color: #999;
	border: 1px solid #666;
	user-select: none;
}

.new-task {
	display: inline-block;
	position: absolute;
	left: 0;
	margin: 10px;
}

.innerTask {
	position: initial;
}

h3 {
	font-size: 14px;
	margin: 10px;
	text-align: center;
}

.innerTask h3 {
	margin: 3px 10px;
}

.kanban {
	position: relative;
	width: 3000px;
	height: 1000px;
	margin-bottom: 100px;
}

.contents {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	border: 1px solid #666;
}

.selected {
	outline: 1px solid #F00;
}

.dragged {
	opacity: 0.5;
}

.zone {
	position: absolute;
}

.zone h2 {
	font-size: 16px;
	margin: ;
	text-align: center;
	text-transform: uppercase;
}

#backlog {
	left: 0px;
	border-right: dashed 1px #444;
	width: 600px;
	height: 100%;
}

#bug {
	width: 200px;
	height: 100%;
	left: 600px;
	border-right: dashed 1px #444;
}

#technical {
	width: 200px;
	height: 100%;
	left: 800px;
	border-right: solid 3px #444;
}

#todo {
	width: 400px;
	height: 100%;
	left: 1000px;
	border-right: solid 2px #444;
}

#development {
	width: 600px;
	height: 100%;
	left: 1400px;
	border-right: solid 2px #444;
}

#test {
	width: 200px;
	height: 800px;
	left: 1800px;
	border-left: dotted 1px #444;
}

#done {
	width: 400px;
	height: 100%;
	left: 2000px;
	border-right: solid 3px #444;
}

#qualification {
	width: 200px;
	height: 100%;
	left: 2400px;
	border-right: solid 1px #444;
}

#preproduction {
	width: 200px;
	height: 100%;
	left: 2600px;
	border-right: solid 1px #444;
}

#production {
	width: 200px;
	height: 100%;
	left: 2800px;
}

.line {
  	display: flex; /* contexte sur le parent */
	flex-direction: column; /* direction d'affichage verticale */
	justify-content: center;
}

.line h2 {
	width: 5px;
    word-wrap: break-word;
    margin: 5px;
}

#back {
	width: 1000px;
	height: 350px;
	left: 1000px;
	border-bottom: dotted 1px #444;
}

#front {
	top: 350px;
	width: 1000px;
	height: 250px;
	left: 1000px;
	border-bottom: dotted 1px #444;
}

#cms {
	top: 600px;
	width: 1000px;
	height: 200px;
	left: 1000px;
	border-bottom: dotted 1px #444;
}

#other {
	top: 800px;
	width: 1000px;
	height: 200px;
	left: 1000px;
}

.edit-task {
    border: solid 1px black;
    position: fixed;
    left: 50%;
    top: 50%;
    background-color: white;
    z-index: 100;
    height: 800px;
    margin-top: -400px;
    width: 1000px;
    margin-left: -500px;
    box-shadow: 3px 3px 4px 0px black;
}

.left-panel {
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 10px;
	width: 450px;
	height: 700px;
	display: inline-block;
}

.right-panel {
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 10px;
	width: 500px;
	height: 700px;
	display: inline-block;
}

.buttons {
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding: 10px;
}


.popup-background {
	top: 0;
	left: 0;
	position: absolute;
	width: 3000px;
	height: 100%;
	background-color: #333333;
	z-index: 99;
	opacity: 0.5;
}

.edit-task label {
	display: block;
	margin: 5px 0px;
}

.edit-task textarea {
	width: 100%;
	height: 100px;
	font-family: Arial;
}

.menu {
	position: fixed;
	left: 50%;
	bottom: 10px;
	width: 600px;
	margin-left: -300px;
	height: 60px;
	border: 1px solid black;
	z-index: 50;
	background-color: #BBB;
	box-shadow: 2px 2px 4px 0px black;
}

button {
	font-size: 18px;
	min-width: 100px;
}

button[type='button']:last-child {
	font-weight: bold;
	color: #FFF;
	background-color: #F50;
}

.archive {
	position: absolute;
	right: 100px;
	display: inline-block;
	margin: 10px;
	width: 150px;
	background-color: #f39c12;
	border: 1px solid black;
}

.trash {
	position: absolute;
	right: 0px;
	display: inline-block;
	margin: 10px;
	width: 100px;
	background-color: #EC644B;
	border: 1px solid black;
}

.admin {
	background-color: #3498db;
}

.developer {
	background-color: #2ecc71;
}

.partner {
	background-color: #C5EFF7;
}

.other {
	background-color: #95a5a6;
}

.bug {
	background-color: #D2527F;
}

.release {
	background-color: #f39c12;
}

.db {
	background-color: #BE90D4;
}

.impediment {
	background-color: #EC644B;
}