html, body {
	height: 100%;
	font-family: Arial, Verdana;
}


.task {
	position: absolute;
}

.task-content {
	width: 200px;
	background-color: #999;
	border: 1px solid #666;
}

.innerTask {
	position: initial;
}

.task h2 {
	font-size: 14px;
	margin: 10px;
}

.kanban {
	position: relative;
	height: 100%;
	width: 100%;
}

.contents {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}